.App {
    font-family: fantasy;
    background-image: url("./images/bgc.jpg");
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;

}

/* HOME PAGE */
.home {
    text-align: center;
}

.img1 {
    width: 90%;
    height: 40rem;
    mix-blend-mode: multiply;
}

.greet {
    font-size: 4rem;
    margin-top: 2rem;
    margin-left: 1rem;
    text-decoration: none;
    background: linear-gradient(to right,
    rgb(12, 12, 12) 50%, #FF5858 50%, #CC2E5D);
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}

.greet:hover {
    background-position: -100%;
}


/* ENTRY PAGE */
.balance {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
